server {
        listen 80;
        listen [::]:80;

        server_name {{ domain }};

        root /var/www/mediawiki/;

        index index.html;
        location / {
        index index.php;
        try_files $uri $uri/ @mediawiki;
        }

        location @mediawiki {
        rewrite ^/(.*)$ /index.php;
        }

        location ~ \.php$ {
        include /etc/nginx/fastcgi_params;
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        try_files $uri @mediawiki;
        }
}       